logs
*.log
pnpm-debug.log*
node_modules
*.tgz

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.fleet
.DS_Store

# Ignore all .md files in the root ONLY
/*.md

# Keep the README in the root
!/README.md